<div id = "bookdata container">
  <p>
    <strong>タイトル:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>著者:</strong>
    <%= @book.auther %>
  </p>

  <p>
    <strong>出版社:</strong>
    <%= @book.publisher %>
  </p>

  <p>
    <%= "第#{@book.version}版" %>
  </p>

  <p>
    <strong>出品者:</strong>
    <%= link_to @book.bucketter.name, bucketter_path(id: @book.bucketter.id) %>
  </p>
</div>
