<%= form_for(@book) do |f| %>
  <% @main = @book %>
  <%= render 'shared/error_messages'%>

  <div class="field">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :auther, "著者" %><br>
    <%= f.text_field :auther %>
  </div>
  <div class="field">
    <%= f.label :publisher, "出版社" %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label :version, "版" %><br>
    <%= f.text_field :version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
