<p id="notice"><%= notice %></p>

<table class ="table table-striped">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>著者</th>
      <th>出版社</th>
      <th>版</th>
      <th>出品者</th>
      <th>状態</th>
      <th>登録日</th>
       <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @book.title %></td>
        <td><%= @book.auther %></td>
        <td><%= @book.publisher %></td>
        <td><%= @book.version %></td>
        <td><%= @book.bucketter.name %></td>
        <td>
          <% if @book.on_sale%>
            on sale
          <% else %>
            sold
          <% end%>
        </td>
        <td><%= needed_time(@book.created_at) %> </td>
        <td><%= link_to '詳細', @book %></td>

      </tr>
  </tbody>
</table>


<%= link_to 'Buy', deal_path(para: @book) %> |

<% if current_bucketter == @book.bucketter%>

  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %>|

<% end %>
<%= link_to 'Back', books_path %>
