<p id="notice"><%= notice %></p>

<%= render 'shared/bucketter_data'%>

<% if signed_in? && (current_bucketter == @bucketter) %>

  <div class="container">
    <h1>Registerd Books</h1>

    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>著者</th>
          <th>出版社</th>
          <th>版</th>
          <th>Status</th>
           <th colspan="3"></th>

        </tr>
      </thead>

      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= book.title %></td>
            <td><%= book.auther %></td>
            <td><%= book.publisher %></td>
            <td><%= book.version %></td>
            <td><% if book.offers.blank? %>
                <%=   "on sale"%>
                <%  else%>
                <%=  "sold" %>
                <% end %>
            </td>

            <% if book.offers.blank?%>
              <td><%= link_to '詳細', book %></td>
            <% else %>
              <td><%= link_to '取引', book.offers.first %></td>
            <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

  <div class="bought-books container">
    <h1>Bought Books</h1>

    <table>
      <thead>
        <tr>
          <th>タイトル</th>
          <th>著者</th>
          <th>出版社</th>
          <th>版</th>
           <th colspan="3"></th>

        </tr>
      </thead>

      <tbody>
        <% @offers.each do |offer| %>
          <tr>
            <td><%= offer.book.title %></td>
            <td><%= offer.book.auther %></td>
            <td><%= offer.book.publisher %></td>
            <td><%= offer.book.version %></td>
            <td><%= link_to '詳細', offer.book %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Edit', edit_bucketter_path(@bucketter) %> |
  <%= link_to 'Destroy', @bucketter, method: :delete, data: { confirm: 'Are you sure?' } %>|
  <%= link_to 'Register Books', new_book_path %>
<% end %>


<%= link_to 'Back', bucketters_path %>
