<p id="notice"><%= notice %></p>

<%= render 'shared/bucketter_data'%>

<% if signed_in? && (current_bucketter == @bucketter) %>

  <div class="container">
    <h1>Registerd Books</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= sortable "title", "タイトル"%></th>
          <th>著者</th>
          <th>出版社</th>
          <th>版</th>
          <th>Status</th>
          <th><%= sortable "created_at", "登録日"%></th>
           <th colspan="3"></th>

        </tr>
      </thead>

      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td><%= book.title %></td>
            <td><%= book.auther %></td>
            <td><%= book.publisher %></td>
            <td><%= book.version %></td>
            <td><% if book.on_sale %>
                  <%=   "販売中"%>
                <%  else%>
                  <% if book.deal_end %>
                    <%=  "取引終了" %>
                  <% else %>
                    <%= "取引中"%>
                  <% end %>
                <% end %>
            </td>
            <td><%= needed_time(book.created_at) %></td>

            <% if book.offers.blank?%>
              <td><%= link_to '詳細', book %></td>
            <% else %>
              <td><%= link_to '取引', book.offers.first %></td>
            <% end %>

          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

  <div class="bought-books container">
    <h1>Bought Books</h1>
    <table class ="table table-striped">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>著者</th>
          <th>出版社</th>
          <th>版</th>
          <th>出品者</th>
          <th>状態</th>
          <th><%= offer_sortable "created_at", "登録日"%></th>
           <th colspan="3"></th>

        </tr>
      </thead>

      <tbody>
        <% @offers.each do |offer| %>
          <tr>
            <td><%= offer.book.title %></td>
            <td><%= offer.book.auther %></td>
            <td><%= offer.book.publisher %></td>
            <td><%= offer.book.version %></td>
            <td><%= offer.book.bucketter.name %></td>
            <td>
              <% if offer.book.on_sale%>
                販売中
              <% else %>
                <% if offer.book.deal_end %>
                  取引終了
                <% else %>
                  取引中
                <% end %>
              <% end%>
            </td>
            <td><%= needed_time(offer.created_at) %> </td>
            <td><%= link_to '詳細', offer.book %></td>
            <td><%= link_to '受取', edit_offer_path(offer)%></td>

          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <%= link_to 'Topへ戻る', root_path, class: "btn btn-default" %>
  <%= link_to 'Edit', edit_bucketter_path(@bucketter), class: "btn btn-default" %>
  <%= link_to 'アカウントの削除', @bucketter, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  <%= link_to '本の登録', new_book_path, class: "btn btn-default" %>
<% end %>
