<%= form_for(@offer) do |f| %>
  <%= render 'shared/error_messages' %>

  <h1> Book Data</h1>
  <%= render 'shared/book_data'%>

  <h1> Address Confirmation </h1>
  <%= render 'shared/bucketter_data'%>

  <div class="hidden_field">
    <%= f.hidden_field :book_id,  :value => @id %>
  </div>
  <div class="actions">
    <%= f.submit "Buy now!"%>
  </div>
<% end %>
