<%= form_for(@offer) do |f| %>
  <%= render 'shared/error_messages' %>

  <%= render 'shared/book_data'%>

  <div class="hidden_field">
    <%= f.hidden_field :book_id,  :value => @id %>
  </div>
  <div class="actions">
    <%= f.submit "Buy now!"%>
  </div>
<% end %>
