<p id="notice"><%= notice %></p>

<div class="container book_data">
  <h1>Book Data</h1>
  <%= render 'shared/book_data'%>
</div>

<div class="container buyer_data">
  <%= render 'shared/bucketter_data'%>
</div>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
